.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.loading {
  filter: blur(10px);
  clip-path: inset(0);
}
.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}
